.addPayment{
  .area-selector{
    display:flex;
    overflow-x:auto;
    align-items: center;
    height:50px;
    padding:0 20px;
    gap:5px;

    .v-btn{
      height:30px;
      border-radius:15px;
      font-size:13px;
    }
    .v-btn.active{
      background:#292929;
      color:#fff
    }
  }

  .top{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0 20px;

    dl{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width:70px;
      height:60px;
      border-radius:0;
      
      dt{
        font-size:10px;
        margin-bottom:3px;
      }
      dd{
        font-size:16px;
        font-weight:bold;
        color:#292929;
      }
    }
  
    dl.active{
      background:#EDEDF6;
      border-radius:5px 5px 0 0;
      dd{
        color:#0007EE
      }
    }
    
  }

  .list-opt{
    border-top:1px solid #292929;
    display:flex;
    align-items: center;
    height:50px;
    justify-content: space-between;
    padding:0 20px;

    h4{
      font-size:15px;
      font-weight:bold;
    }

    .listInSearch{
      display:flex;
      align-items: center;
      justify-self: flex-end;
      background:#f2f2f2;
      height:30px;
      border-radius:15px;
      padding-left:15px;

      input{
        width:120px;
        flex:1;
        height:30px;
        outline: none;
        font-size:13px;
      }
      input::-webkit-input-placeholder{
        font-size:12px;
      }

      .v-btn{
        width:30px;
        height:30px;
        .v-icon{
          font-size:16px;
        }
      }
    }
  }
  
  .list{
    display:flex;
    flex-direction: column;
    border-top:1px solid #e2e2e2;
    gap:15px;
    padding:20px;

    .no-item{
      background:#f2f2f2;
      padding:15px;
      text-align:center;
      border-radius:10px;
    }
  }
}

.divider.h10{
  height:10px;
  background:#EDEDF6;
}

